<div layout="column" layout-fill id="popupContainer">

    <header>
      <sample-navbar/>
    </header>

    <div layout="row">
      <div flex="15"></div>
      <div flex="70" layout="column">
        <md-table-container>
          <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column md-order-by="name">ФИО</th>
              <th md-column md-order-by="dateOfBirth">Дата рождения</th>
              <th md-column>Возраст</th>
              <th md-column>Пол</th>
              <th md-column>Категория</th>
              <th md-column></th>
              <th md-column></th>
            </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="certificate" md-select-id="{{certificate.name}}" md-auto-select ng-repeat="certificate in certificates.data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                <td md-cell>{{certificate.name}}</td>
                <td md-cell>{{certificate.dateOfBirth | date:"dd.MM.yyyy"}}</td>
                <td md-cell>{{certificate.age}}</td>
                <td md-cell>{{parseGender(certificate.gender)}}</td>
                <td md-cell>{{certificate.category}}</td>
                <td md-cell><md-button class="md-raised md-primary" ng-click="certificates.changeCertificate(certificate)">Редактировать</md-button></td>
                <td md-cell><md-button class="md-raised md-warn" ng-click="certificates.deleteCertificate(certificate)">Удалить</md-button></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{certificates.count}}" md-page-select md-label="{{pagination.label}}" md-options="pagination.options"></md-table-pagination>


        <md-content layout-padding layout="column">
          <form ng-submit="$event.preventDefault()">
            <p>Поиск страховых полисов по ФИО:</p>
            <md-autocomplete
              ng-disabled="search.isDisabled"
              md-no-cache="search.noCache"
              md-selected-item="search.selectedItem"
              md-search-text="search.searchText"
              md-selected-item-change="search.selectedItemChange(item)"
              md-items="item in search.querySearch(search.searchText)"
              md-item-text="item.name"
              md-min-length="3"
              md-input-maxlength="60"
              md-delay="500"
              placeholder="ФИО"
              md-menu-class="autocomplete-custom-template">
              <md-item-template>
                <span>{{item.name}}</span>
                <span>{{item.dateOfBirth | date:"dd.MM.yyyy"}}</span>
              </md-item-template>
              <md-not-found>
                Данные не найдены
              </md-not-found>
            </md-autocomplete>
          </form>
        </md-content>

        <md-content layout-padding layout="column" ng-if="selectedCertificate">
          <form ng-submit="$event.preventDefault()" name="editForm">
            <p>Редактирование выбранного страхового полиса:</p>
            <div layout="row">
              <md-input-container class="md-block">
                <label>Имя</label>
                <input ng-model="selectedCertificate.firstName" ng-pattern="/^[a-zA-Zа-яА-Я]+$/" required>
              </md-input-container>
              <md-input-container class="md-block margin-left-20">
                <label>Фамилия</label>
                <input ng-model="selectedCertificate.lastName" ng-pattern="/^[a-zA-Zа-яА-Я]+$/" required>
              </md-input-container>
              <md-input-container class="md-block margin-left-20">
                <label>Отчество</label>
                <input ng-model="selectedCertificate.patronymic" ng-pattern="/^[a-zA-Zа-яА-Я]+$/" required>
              </md-input-container>
            </div>

            <div layout="row" div class="md-inline-form">
              <md-input-container class="md-block">
                <label>Возраст</label>
                <input ng-model="selectedCertificate.age" disabled>
              </md-input-container>
              <md-datepicker
                class="md-block"
                ng-model="selectedCertificate.dateOfBirth"
                md-placeholder="Дата рождения"
                ng-change="onChangeDate()"
                md-min-date="datePickerOptions.minDate"
                md-max-date="datePickerOptions.maxDate"
                required></md-datepicker>
            </div>

            <div layout="row">
              <md-input-container class="md-block">
                <label>Категория вождения:</label>
                <md-select ng-model="selectedCertificate.category">
                  <md-option ng-repeat="category in categories" value="{{category.name}}">
                    {{category.name}} - {{category.title}}
                  </md-option>
                </md-select>
              </md-input-container>
              <div layout="row">
                <label class="md-block margin-left-20">Пол:</label>
                <md-radio-group ng-model="selectedCertificate.gender" layout="row" layout-align="start center">
                  <md-radio-button value="MALE" class="md-primary">М</md-radio-button>
                  <md-radio-button value="FEMALE">Ж</md-radio-button>
                </md-radio-group>
              </div>
            </div>

            <md-button class="md-raised md-primary" ng-click="certificates.saveCertificate()" ng-disabled="editForm.$invalid">Сохранить</md-button>

          </form>
        </md-content>


      </div>
      <div flex="15"></div>
    </div>

</div>
